
.comment-widget-container {
    box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.1);
    background-color: var(--nostr-comment-box-background, white);
    padding: 18px;
    border-radius: 8px;
    font-family: arial;
    text-align: left;
    width: 100%;
}

.comment-input-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
    border: 1px solid var(--nostr-comment-box-button-background, #0d6efd);
    border-radius: 4px;
}

.comment-input-section-row2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-end;
    width: 100%;
}

.info-button {
    background: var(--nostr-comment-box-background, white);
    color: var(--nostr-comment-box-button-color, white);
    cursor: pointer;
    border: 1px solid var(--nostr-comment-box-background, white);
    padding: 8px;
    border-radius: 4px;
}

.info-button:hover {
    color: var(--nostr-comment-box-button-background, #0d6efd);
    border: 1px solid var(--nostr-comment-box-button-background, #0d6efd);
}

.svg-info {
    fill: var(--nostr-comment-box-button-background, #0d6efd);
}

.post-button {
    background: var(--nostr-comment-box-button-background, #0d6efd);
    color: var(--nostr-comment-box-button-color, white);
    cursor: pointer;
    border: 1px solid var(--nostr-comment-box-background, white);
    padding: 8px;
    border-radius: 4px;
    flex: none;
}

.post-button:hover {
    color: var(--nostr-comment-box-button-background, #0d6efd);
    border: 1px solid var(--nostr-comment-box-button-background, #0d6efd);
    background: var(--nostr-comment-box-background, white);
}

.comment-card {
    color: var(--nostr-comment-box-color, #888);
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.comment-title {
    color: var(--nostr-comment-box-title-color, #222);
}

.textarea {
    background-color: var(--nostr-comment-box-background, white);
    border: none;
    outline: none;
    width: 100%;
    padding: 0px;
    height: 64px;
}

